@model VolunteerThree.Models.Volunteer

@{
    ViewData["Title"] = "VolunteerList";
}

<h1>Details</h1>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VSurname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VSurname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VBirthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VBirthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VPersonNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VPersonNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zon.ZName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VId">Изменить</a>
    @*<a asp-action="Index">Назад</a>*@
</div>
